<div class="container">
  <div class="card card-custom">
    <div class="card-header">
      <div class="card-title">Create Project</div>
    </div>

    <!--begin::Form-->
    <form id="project_form" enctype="multipart/form-data">
      <div class="card-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            placeholder="Enter project name"
          />
        </div>
        <div class="form-group">
          <label for="place">Place</label>
          <input
            type="text"
            id="place"
            class="form-control"
            name="place"
            placeholder="Project place"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            rows="4"
            class="form-control"
            name="description"
            placeholder="Project Description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="place">Media <em>optional</em></label>
          <input
            type="file"
            id="media"
            class="form-control"
            name="media"
            placeholder="Select media"
          />
        </div>
        <input type="hidden" name="user_id" id="user_id" value="{{ id }}" />
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary font-weight-bold px-6 mr-4"
            id="project_send"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("form#project_form").on("submit", function (e) {
    e.preventDefault();

    var sendBtn = KTUtil.getById("project_send"),
      _buttonSpinner = "spinner spinner-right spinner-white pr-15";

    var endp = `https://ceap.herokuapp.com/mp-operations/create-project/`;
    var formData = new FormData(document.getElementById("project_form"));
    $.ajax({
      url: endp,
      method: "POST",
      data: formData,
      contentType: false,
      cache: false,
      processData: false,
      dataType: "json",
      beforeSend: function () {
        console.log("edn", formData);
        KTUtil.btnWait(sendBtn, _buttonSpinner, "Processing", true);
      },
      success: function (data) {
        console.log("new message", data);
        swal.fire({
          text: data.message,
          icon: "success",
          buttonsStyling: false,
          confirmButtonText: "Ok, got it!",
          customClass: {
            confirmButton: "btn font-weight-bold btn-light-danger",
          },
        });
        $("form#project_form").trigger("reset");
        $("#summernote").summernote("reset");
        KTUtil.btnRelease(sendBtn);
        history.pushState(null, null, "view-projects");
      },
      error: function (error) {
        console.log("error", error);
        swal.fire({
          text: `Error: ${error.responseJSON.message}`,
          icon: "error",
          buttonsStyling: false,
          confirmButtonText: "Ok, got it!",
          customClass: {
            confirmButton: "btn font-weight-bold btn-light-danger",
          },
        });
        KTUtil.btnRelease(sendBtn);
      },
    });
  });
</script>
