<form method="POST" class="permissionForm">
  <div class="form-group row">
    <label class="col-form-label text-right col-lg-3 col-sm-12"
      >Custom Label</label
    >
    <div class="col-lg-9 col-md-9 col-sm-12">
      <input
        data-switch="true"
        type="checkbox"
        checked="checked"
        data-on-text="True"
        data-handle-width="50"
        data-off-text="False"
        data-on-color="success"
      />
    </div>
  </div>
</form>

<h1>User permission</h1>
{% for i in permission %} {{i.permission_name}}, {% endfor %}

<h1>All permission</h1>
{% for i in all_permissions %} {{i.name}}, {% endfor %}
