<div class="container">
	<div class="row">
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b card-stretch">
				<!--begin::Body-->
				<div class="card-body text-center pt-4">
					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end">

					
						<div class="my-4">
							<a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4">Air B - Real Estate</a>
						</div>
						<!--begin::User-->
						<div class="mt-7">
							 <div id="assembly_chart" class="d-flex justify-content-center"></div>
						</div>
					
					</div>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
		</div>
	</div>